<h3 style="margin-top:0;">
  Olá, <strong>{{ organizerName }}</strong>
</h3>
<p>
  Uma nova inscrição foi realizada para o meetup <strong>{{ meetupTitle }}</strong>,
  que acontecerá no dia {{ meetupDate }}.
</p>
<p>
  Dados do inscrito:<br>
  <strong>Nome</strong>: {{ userName }}<br>
  <strong>E-mail</strong>: {{ userEmail }}<br>
</p>

